:root {
    /* prevents from zoom by touch */
    /* touch-action: pan-x pan-y;
    height: 100%; */
    /* prevents from links being highlighted due to the above */
    /* -webkit-tap-highlight-color: transparent; */

    --tc: black;
    --bg: white;
}
html {
    /* fixes chrome on android text size */
    text-size-adjust: none;
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    font-size: 120%;
}

a {
    text-decoration: none;
}

h2 {
    border-top: 1px solid var(--tc);
    padding-top: 0.2em;
}

#index > a {
    color: blue;
    font-size: 120%;
}
li > a {
    color: blue;
    font-size: 150%;
    line-height: 150%;
}
#index > a:hover, li > a:hover, a:hover > h2
{
    text-decoration: underline;
}

img {
    border: 5px solid gray;
}

@media (prefers-color-scheme: dark) {
    html { filter: invert(100%); }
    img  { filter: invert(100%); }
    li > a, #index > a { 
        color: lightblue;
        filter: invert(100%); 
    }
    
}

* {
    font-family: sans-serif;
    color: var(--tc);
    box-sizing: border-box;
}

body {
    background-color: var(--bg);
    padding-bottom: 2.1em;
}

img {
    margin-bottom: 0.5em;
}

body.object img {
    zoom: 50%;
}
body.category img {
    zoom: 25%;
}

p {
    line-height: 0.5em;
}
